[user]
	email = otto.lin@patere.net
	name = otto@Ubuntu20_04

[diff]
	tool = kdiff3
	guitool = kdiff3
[difftool "kdiff3"]
	cmd = '/home/cia1099/Downloads/kdiff3-0.9.98/releaseQt/kdiff3' \"$LOCAL\" \"$REMOTE\"
	path = /home/cia1099/Downloads/kdiff3-0.9.98/releaseQt/kdiff3
	trustExitCode = false
	prompt = false
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	cmd = '/home/cia1099/Downloads/kdiff3-0.9.98/releaseQt/kdiff3' \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	path = /home/cia1099/Downloads/kdiff3-0.9.98/releaseQt/kdiff3
	trustExitCode = false
	keepBackup = false
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
[http]
	cookiefile = /home/cia1099/.gitcookies

# >>>> vscode edition
# [diff]
# 	tool = vscode
# 	guitool = vscode
# [difftool "vscode"]
# 	cmd = code --wait --diff $LOCAL $REMOTE
# 	path = /usr/bin/code
# 	prompt = false
# [merge]
# 	tool = vscode
# [mergetool "vscode"]
# 	cmd = code --wait $MERGED $REMOTE
# 	path = /usr/bin/code
# 	trustExitCode = false
# 	keepBackup = false
# ref. https://www.roboleary.net/vscode/2020/09/15/vscode-git.html
