[user]
	# email = steven-ph@bobi.homes
	# name = Steven Dante Torres
  email = cia1099@gmail.com
  name = Otto@AirM2

[diff]
  tool = opendiff
  guitool = opendiff
# [difftool]
#   prompt = false #general disable prompt
[merge]
  tool = opendiff
[alias]
  tree = log --graph --decorate --pretty=oneline --abbrev-commit --all

[difftool "kdiff3"]
	cmd = kdiff3 \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true
	prompt = false
[mergetool "kdiff3"]
	cmd = /usr/local/sbin/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = false
	keepBackup = false

[difftool "opendiff"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = /Applications/Xcode.app/Contents/Developer/usr/bin/opendiff
  trustExitCode = true #kill the process
  prompt = true
[mergetool "opendiff"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = false #must save before confirm merge
  keepBackup = false

[difftool "code"]
  cmd = code -n --disable-extensions --wait --diff $LOCAL $REMOTE
  trustExitCode = true
	prompt = false
[mergetool "code"]
  cmd = code -n --disable-extensions --wait -- --merge $LOCAL $REMOTE $BASE $MERGED
  trustExitCode = false
	keepBackup = false

# [http]
	# cookiefile = /home/cia1099/.gitcookies