{% extends "record_base.html" %}
{% block record_container %}
<style>
    .record td,
    .record th {
        text-align: center;
    }
</style>
<main class="container">
    <hr>

    <div class="separator" style="height: 25px;"></div>

    <section class="container-fluid">
        <h2 align="center">History</h2>
        <br>
        <div class="container-fluid" style="display: flex;justify-content: center;">
            <table class="record" border="1" style="border-collapse: collapse;">
                <tr>
                    <th></th>
                    <th style="color: cornflowerblue">Occur</th>
                    <th style="color: firebrick;">To</th>
                    <th style="color: forestgreen;">From</th>
                    <th style="color: grey;">How could it find</th>
                </tr>
                {% for record in records %}
                <tr>
                    <td style="color: blue;">{{loop.index}}</td>
                    <td>{{record.asctime}}</td>
                    <td>
                        {% set ips = record.new.split(".") %}
                        {% set tail_ip = ips[-1] %}
                        {{ ips[:-1] | join(".") }}{{"."}}<span style="color: firebrick;">{{tail_ip}}</span>
                    </td>
                    <td>
                        {% set ips = record.old.split(".") %}
                        {% set tail_ip = ips[-1] %}
                        {{ ips[:-1] | join(".") }}{{"."}}<span style="color: forestgreen;">{{tail_ip}}</span>
                    </td>
                    <td>{{record.detail}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </section>
</main>
{% endblock %}